* {
  margin: 0;
}

.app {
  background-color: #fafafa;
  height: 100vh;
}

.app_header {
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgrey;
  display: flex;
  justify-content: space-between;
  object-fit: contain;
}

.app_headerImage {
  object-fit: contain;
}

.app_postsDisplay {
  padding: 20px;
}

.app_form {
  display: flex;
  flex-direction: column;
}
